@import "reset.css";
html {
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    overflow: auto;
    margin-left: 10px;
    margin-right: 10px;
}

header {
    color: rgb(52, 152, 219);
    font-size: 3rem;
    height: 60px;
    width: 100%;
}

main {
    margin: 0;
}

header>h1 {
    float: left;
}

nav {
    float: right;
}

.socialLinkWrapper {
    display: inline-block;
    margin-right: 0.75rem;
}

.socialLink {
    color: rgb(52, 152, 219);
}

#overview {
    width: 100%;
} 

#overview {
    width: 100%;
} 

h1 {
    size: 3em;
}

img.profileImage {
    width: 300px;
    border-radius: 100%;
    float: left;
    /* overflow: hidden; */
    /* position: relative; */
}

article>header {
}


.copyleft {
    display: inline-block;
    transform: rotate(180deg);
}