@import "reset.css";
html {
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    overflow: auto;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    width: 960px;
}

em {
    font-style: italic;
    font-size: .75em;
}

ul {
    list-style-type: circle;
    list-style-position: inside;
    margin: 10px 0;
}

ol {
    list-style-type: lower-greek;
    list-style-position: inside;
    margin: 10px 0;
}

header {
    color: rgb(52, 152, 219);
    font-size: 3rem;
    height: 60px;
    width: 100%;
}

header>h1 {
    float: left;
}

nav {
    float: right;
}

.socialLinkWrapper {
    display: inline-block;
    margin-right: 0.75rem;
}

.socialLink {
    color: rgb(52, 152, 219);
}

#main-content {
    font-size: 1.0em;
}

article {
    width: 100%;
    margin-top: 10px;
}

article>h1 {
    font-size: 2em;
}

.headline-aricle {
    display: inline-block;
    height: 300px;
    border: 1px solid rgb(52, 152, 219);
    padding: 10px;
    box-shadow: 5px 10px #888888;
}

#headline-article-left {
    float: left;
    width: 300px;
}

#headline-article-right {
    float: left;
    width: 630px;
    padding-top: 75px;
    padding-left: 30px;
}

#headline-article-right>h1 {
    color: rgb(52, 152, 219);
    font-size: 2em;
    font-weight: bold;
}

.sub-article {
    display: inline-block;
    margin-top: 30px;
}

.sub-article>h1 {
    color: rgb(52, 152, 219);
    font-size: 2em;
    font-weight: bold;
}

#profileImage {
    width: 300px;
    border-radius: 100%;
    float: left;
    /* overflow: hidden; */
    /* position: relative; */
}

footer {
    width: 100%;
    float: letf;
}

footer {
    width: 100%;
    height: 20px;
    border: 1px solid rgb(52, 152, 219);
    padding: 10px;
    box-shadow: 5px 10px #888888;
}

footer>.copyleft {
    float: right;
    transform: rotate(180deg);
}